<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, basic, centered, links" />

	<title>Xtal Footer</title>

	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/footer-basic-centered.css">

</head>

	<body>
    
		<footer class="footer-basic-centered">

			<p class="footer-company-motto">Xtal</p>

			<p class="footer-links">
				<a href="https://xtal.me">Home</a>
				·
				<a href="/">Me</a>
				·
				<a href="/stats">Stats</a>
				·
				<a href="/logout">Logout</a>
			</p>

			<p class="footer-company-name">ZYROUGE &copy; 2019 • Zyrouge Development</p>

		</footer>

	</body>

</html>
