<div class="navbar">

    <a href="/">Xtal</a>
  
    <div class="right">
        <a href="/me">Me</a>
        <a href="/commands">Commands</a>
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=614476694853779457&permissions=2146958847&redirect_uri=https%3A%2F%2Fdashboard.xtal.me%2Flogin&response_type=code&scope=bot%20guilds.join">Invite</a>
        <a href="/stats">Stats</a>
        <a href="/logout">Logout</a>
    </div>

</div>