<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An Awesome Discord Multipurpose Bot with 250+ Commands."/>
    <meta name="google-site-verification" content="akGL-7hsJUQg7m48AZNBVlzKr1elUlUVpbG4vy6mxlU" />

    <title>Xtal — Dashboard</title>
<script>
if (location.protocol != 'https:') {
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
</script>

    <link rel="shortcut icon" href="https://assets.xtal.me/logo-with-glow-square.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="page-content">
    <center><br><br>
    <h1><u><font size="25">404.</font></u></h1><br>
    <h1>
        Oopsie Doopsie. You are at the Wrong Place!
    </h1>
    </center>
    </div>
  <footer>
		<% include ./partials/footer %>
	</footer>
</body>
</html>